# See man 5 aliases for format
postmaster:     root
root:           {{ postfix_conf.admin_email }}

{% if postfix_aliases is defined -%}
    {%- for item in postfix_aliases -%}
        {{ item.user }}:   {{ item.alias }}
    {% endfor %}
{% endif %}
