smtpd_relay_restrictions = permit_mynetworks defer_unauth_destination
myhostname = {{ postfix_myhostname }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = {{ postfix_myorigin }}
mydestination = {{ postfix_mydestination }}, localhost
relayhost =
mynetworks = $config_directory/mynetworks
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = {{ postfix_inet_protocols | default("all") }}
compatibility_level = {{ postfix_compatibility_level | default("0") }}