smtpd_relay_restrictions = permit_mynetworks defer_unauth_destination
myhostname = {{ postfix_myhostname }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = {{ postfix_myorigin }}
mydestination = {{ postfix_mydestination }}, localhost
relayhost =
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 {{ postfix_mynetworks }}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all
